.App {
  text-align: center;
  background-color: rgb(63, 34, 25);
  min-height: 450vh;
}

.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

