/* .progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 25px;
}
.progress{
    height: 10px;
    background: #929291;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0;
}
.progress:after{
    border: 7px solid #e9e9ea;
    left: auto;
    right: 0;
}
.progress .progress-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}
.progress .progress-value{
    width: 70px;
    height: 35px;
    line-height: 27px;
    border-radius: 30px;
    background: #fff;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: 0;
}
.progress.orange:before{ border: 7px solid #fe3b3b; }
.progress.blue:before{ border: 7px solid #1a4966; }
.progress.green:before{ border: 7px solid #53aa2c; }
.progress.purple:before{ border: 7px solid #66406f; }

.progress.orange .progress-value{
    border: 5px solid #fe3b3b;
    color: #fe3b3b;
}
.progress.blue .progress-value{
    border: 5px solid #1a4966;
    color: #1a4966;
}
.progress.green .progress-value{
    border: 5px solid #53aa2c;
    color: #53aa2c;
}
.progress.purple .progress-value{
    border: 5px solid #66406f;
    color: #66406f;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
} */


.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 30px;
}
.progress{
    height: 20px !important;
    background: none!important;
    border-radius: 0;
    margin-bottom: 30px;
    overflow: visible;
    box-shadow: none;
}
.progress .progress-bar{
    background: #fff;
    box-shadow: none;
    border-bottom: 4px dotted #ff1140;
    border-radius: 0;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}
.progress .progress-bar:before{
    content: "";
    border-bottom: 20px solid #ff1140;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: -4px;
    right: -4px;
}
.progress-bar .progress-value{
    font-size: 17px;
    font-weight: 700;
    color: #000;
    position: absolute;
    top: -33px;
    right: 0;
}
.progress.yellow .progress-bar,
.progress.yellow .progress-bar:before{ border-bottom-color: #fec100; }
.progress.purple .progress-bar,
.progress.purple .progress-bar:before{ border-bottom-color: #663399; }
.progress.green .progress-bar,
.progress.green .progress-bar:before{ border-bottom-color: #0ead69; }
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}